/*Hizmetlerimiz Start*/
/* Üst bölüm: başlık ve sağdaki yazı */
.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  /* Başlığın sol ve sağdaki uzaklığını ayarlamak için */
  border-bottom: 1px solid #ccc;
}

.header-title {
  margin: 0;
  /* Sol tarafa olan uzaklığı ayarlamak için */
  padding-left: 80px;
  font-size: 30px;
}

.header-link {
  text-decoration: none;
  color: #007BFF;
  font-size: 1em;
  position: relative;
  right: 40px;
}

/* Resim galerisi */
.image-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 40px 160px;
}

.gallery-item {
  text-align: left;
}

.gallery-image {
  max-width: 100%;
  height: 100px;
}

.gallery-title {
  margin: 10px 0;
  font-size: 1.3em;
  font-weight: 500;
}

.gallery-link {
  text-decoration: none;
  font-size: 1.2em;
  color:#ffc700;
}

/* Genel başlangıç stili (aşağıdan yukarı) */
.animate-on-scroll {
  opacity: 0; /* Görünmez başlangıç */
  transform: translateY(50px); /* Aşağıda başlat */
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
}

/* Animasyon tetiklendiğinde */
.animate-on-scroll.visible {
  opacity: 1; /* Görünür */
  transform: translateY(0); /* Orijinal pozisyona dön */
}


/* Responsive ayar */
@media (max-width: 768px) {
  .gallery-image {
    position: relative;
    right: 60px;
    max-width: 160%;
    height: auto;
  }

  .image-gallery {
    grid-template-columns: repeat(2, 1fr);
    padding: 120px;
  }

  .header-title {
    position: relative;
    right: 30px;
    font-size: 20px;
  }
  
}

@media (max-width: 480px) {
  .image-gallery {
    grid-template-columns: 1fr;
    padding: 120px;
  }
}