/* responsive tanıtım sayfası start */

.responsive-container-tree {
  display: flex;
  justify-content: center;
  /* Blokları ortala */
  align-items: center;
  /* Dikey olarak ortala */
  flex-wrap: wrap;
  padding: 20px;
  gap: 60px;
  /* Bloklar arasında boşluk ekle */
  margin: 0px 150px;
  position: relative;
  top: 175px;
}

.content-block-tree {
  flex: 1;
  max-width: 950px;
  /* Sol bloğun genişliği */
  text-align: start;
  /* Metinleri ortala */
  position: relative;
}

.content-block-tree h1 {
  font-size: 32px;
  margin-bottom: 15px;
  font-weight: 500;
  position: relative;
  bottom: 80px;
}
.content-block-tree p img{
  width: 10px;
  height: auto;
  margin: 3px;
}
.content-block-tree p {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.6;
  position: relative;
  bottom: 80px;
}

.button-group-tree {
  display: flex;
  justify-content: flex-start;
  /* Butonları ortala */
  gap: 10px;
  position: relative;
  bottom: 80px;
}

.button-group-tree button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.button-group-tree .button-first-tree {
  width: 220px;
  color: black;
  position: relative;
  background-color: white;
  border: 1px solid black
}

.button-group-tree .button-second-tree {
  background-color: #ffc700;
  color: black;
  width: 200px;
  border: none;
  border: 1px solid black
}

/* 2. Blok stili */
.right-image-tree {
  flex: 0 0 700px;
  /* Sağ bloğun genişliği */
  max-width: 100%;
  /* Ekran genişliğine göre uyumlu olacak şekilde */
}

.right-image-tree img {
  width: 600px;
  height: 500px;
  object-fit: cover;
}
/* Responsive ayarlar */
@media (max-width: 768px) {
  .responsive-container-tree {
    flex-direction: column;
    align-items: center;
    /* Mobilde dikey ortala */
    gap: 40px;
    /* Alanı azaltmak için boşluğu küçült */
    margin: 0;
  }

  .content-block-tree {
    width: 100%;
    /* Genişliği %100 yap */
    /* Alt boşluğu sıfırla */
    position: relative;
    bottom: 180px;
    /* Yukarıya kaydırma */
  }
  .content-block-tree  h1{
    width: 100%;
    /* Genişliği %100 yap */
    /* Alt boşluğu sıfırla */
    position: relative;
    bottom: 180px;
    /* Yukarıya kaydırma */
  }
  .content-block-tree  p{
    width: 100%;
    /* Genişliği %100 yap */
    /* Alt boşluğu sıfırla */
    position: relative;
    bottom: 180px;
    /* Yukarıya kaydırma */
  }
  .right-image-tree {
    flex: 0 0 700px;
    /* Sağ bloğun genişliği */
    max-width: 100%;
    /* Ekran genişliğine göre uyumlu olacak şekilde */
  }
  

  
  .image-block-tree img {
    width: 300px;
    height: 300px;
    /* Resmin altında boşluk bırakma */
  }

  .call-icon {
    bottom: 15px;
    /* İkonu daha yukarıda tut */
    right: 15px;
    /* Sağdan biraz içeride */
  }
}